<div>
    <form [formGroup]='teacherForm' *ngIf='showTeacherUpdateForm'>
        <input type="text" name="name" formControlName="name">
        <button type="button" (click)='updateTeacherApi()'>UpdateTeacher</button>
    </form>

    <table>

        <thead>
            <tr>
                <th>Index</th>
                <th>Name</th>
                <th>Father Name</th>
                <th>Mother Name</th>
                <th>Roll No</th>
                <th>Mobile </th>
                <th>Action </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let data of studentResp;index as i'>
             <td>{{i+1}}</td>
             <td>{{data.name}}</td>
             <td>{{data.fathername}}</td>
             <td>{{data.mothername}}</td>
             <td>{{data.rollno}}</td>
             <td>{{data.mobileno}}</td>
             <td><button type="button" (click)="updateTeacher(data)">Update</button></td>

            </tr>
        </tbody>

    </table>

</div>