<div>
  <div *ngIf="gen.isUserLoggedIn()" class="header">
    <app-header *ngIf="gen.isUserAdmin()"></app-header>
    <app-teacher-header  *ngIf="gen.isUserTeacher()"></app-teacher-header>
  </div>
  <div class="main">
    <div *ngIf="gen.isUserLoggedIn()" class="sidebar">
      <app-sidebar *ngIf="gen.isUserAdmin()"></app-sidebar>
      <app-teacher-sidebar *ngIf="gen.isUserTeacher()"></app-teacher-sidebar>
    </div>

    <div class="dynamic">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="footer">

    <app-footer *ngIf="gen.isUserAdmin()"></app-footer>
    <app-teacher-footer *ngIf="gen.isUserTeacher()"></app-teacher-footer>
  </div>

</div>